<!DOCTYPE HTML>
<html>
    <link rel="stylesheet" type="text/css" href="teamplate.css">
    <script src="teamplate.css"></script>
    <head>
    <title>admin</title>
    </head>
    <body>
        <div class="menuColumn" align="center">
            <div class="menuHeader">
                <div style="width: 100px; height: 100px" align="center"><img src="../img/profile.jpg" alt="no img" style="margin-top: 15px; width: 70px; height: 70px ;border-radius:50px; "> <b>username</b></div> 
                
            </div>
            <div class="menuCell">
                <div style="width: 70px; height: 70px" align="center"><img src="../img/icon.png" alt="no img" style="width: 50px; height: 50px ;border-radius:50px; "> <b>first</b></div> 
                
            </div>
            <div class="menuCell">
                <div style="width: 70px; height: 70px" align="center"><img src="../img/icon.png" alt="no img" style="width: 50px; height: 50px ;border-radius:50px; "> <b>second</b></div> 
                
            </div>
            <div class="menuCell">
                <div style="width: 70px; height: 70px" align="center"><img src="../img/icon.png" alt="no img" style="width: 50px; height: 50px ;border-radius:50px; "> <b>third</b></div> 
                
            </div>
            <div class="menuCell">
                <div style="width: 70px; height: 70px" align="center"><img src="../img/icon.png" alt="no img" style="width: 50px; height: 50px ;border-radius:50px; "> <b>fourth</b></div> 
                
            </div>
            <div class="menuCell">
                <div style="width: 70px; height: 70px" align="center"><img src="../img/icon.png" alt="no img" style="width: 50px; height: 50px ;border-radius:50px; "> <b>fives</b></div> 
                
            </div>
        </div>
        <div class="controlColumn" align="center">
            <div class="controlHeader" align="left">
                <div class="searchback">
                    <div class="searchimg">
                        <img src="../img/search.png" alt="no img" style="width: 30px; height: 30px ;border-radius:50px; ">
                    </div>
                    <div class="searchbox" align="center">
                        <input type="search" class="tst">
                        <div class="searchboxline">
                        </div>
                    </div>
                </div>
                
                
                <div class="logoutWarper">
                    <button class="logout">
                        logout
                    </button>
                </div>
            </div>

            
            
        </div>
    </body>
    
</html>