.teambox
{
    min-width: 100px;
    max-width: 200px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.48);
}
.fotobox
{
    width: 100px;
    height: 100px;
    display: block;
}

.namebox
{
    display: block;
    font-size: 15px;
}

.teamboxextended
{
    min-width: 800px;
    margin: 10px;
    padding: 10px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.48);
    width: 96%;
    height: auto;
	
}
.teamfotoboxextended
{
    width: 100px;
    height: 100px;
    display: block;
}

.teamnameboxextended
{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 30px;
}
.teamdateboxextended
{
    display: block;
    font-size: 10px;
    margin: 10px;
}

.imageandinfobox
{
    width: 100px;
    height: 100%;
   
}

.usersbox
{
	display: block;
    width: calc(100% - 100px);
    
    
}

.headbox
{
	display: block;
    width: 100%;
   
    
}

.smallusersbox
{
	display: block;
    width: 100%;
  
    
}

