body
{   
    background-color: #d9dee3;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.menuColumn
{
    top:0%;
    left:0%;
    position: fixed;
    width:100px;
    height: 100%;
    display:inline-block;
    background-color: #30506a;
    color:white;
}
.menuHeader
{
    margin-bottom:10px;
    width:100%;
    height: 100px;
    display:inline-block;
    background-color: #30506a;
    padding-bottom: 15px;
}
.menuCell
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    width:90%;
    display:inline-block;
    background-color: #30506a;
    padding-bottom: 20px;
}
.controlColumn
{
    align-content: center;
    top:0%;
    left:100px;
    position: fixed;
    width: calc(100% - 100px);
    height: 100%;
    display:inline-block;
    background-color: none;
    color:#30506a;
}
.controlHeader
{
    width:100%;
    height: 50px;
    display:inline-block;
    background-color: white;
  
    color:#30506a;
}
.controlCell
{
    margin:5px;
    display:inline-block;
    width: 350px;
    height:400px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.48);
    color:#30506a;
    border-radius: 5px;
}

.searchback
{
    position: absolute;
    margin-left:25px;
    margin-top: 5px;
    margin-right: 25px;
    background-color: #d9dee3;
     display:inline-block;
    width: 200px;
    height: 40px;
    border-radius: 50px;
}

.searchimg
{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display:inline-block;
    background-color: none;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.searchbox
{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: none;
    width: 140px;
    height: 30px;
    display:inline-block;
}


.searchboxline
{
    background-color: #30506a;
    width: 140px;
    height: 2px;
    border-radius: 50px;
    display:block;
    position: absolute;
    margin-top: 25px;
}

.tst
{
    width: 140px;
    height: 20px;
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: -70px;
    background-color: #d9dee3;
    border:none;
    position: absolute;
    outline: none;
}

.logout
{
    color: white;
    border:none;
    border-radius: 50px;
    outline: none;
    width: 70px;
    height: 40px;
    background-color: #30506a;
}

.logoutWarper
{
    position: absolute;
    display:inline-block;
    background-color: none;
    width: 70px;
    height: 40px;
    top:5px;
    margin-left: 25px;
    right: 5px;
    z-index: 100;
}

.Header
{
     min-width: 800px;
    font-size: 0;
    line-height: 0;
    text-align: justify;
    padding-top: 10px;
	height: 80px;
}

.Header:after {
    content: '';
    width: 100%;
    display: inline-block;
}

.contextHeader
{
    font-size: 75px;
    margin-left: 25px;
    display: inline-block;
    background-color: none;
}

.contextHeader:after {
    content: '';
    width: 100%;
    display: inline-block;
}

.contextHeaderPlus
{
    width: 70px; 
    height: 70px;
    display: inline-block;
    background-color: none;
}

.contentbox
{
    min-width: 800px;
}
.content
{
	overflow-y: auto;
	min-width: 800px;
	height: calc(100% - 160px);
}
.addbox
{
	width: 20px;
	height: 20px;
	margin-left: 5%;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
}

.headtxt
{
   display: inline-block; 
}
